@media (max-width: 1200px) {
	.main-headline.homescreen {
		font-size: 12rem;
	}

	/* HOME */
	.intro-section .logo {
		width: 90% !important;
	}
}
@media (max-width: 992px) {
	.container {
		margin: 0 10px;
		width: 100%;
		max-width: calc(100% - 20px);
		min-height: 60vh;
	}
	.main-headline,
	.main-headline.homescreen {
		font-size: 8rem;
	}
	.matchfield {
		width: 560px !important;
		height: 560px !important;
	}
	.matchfield tr {
		height: 3rem !important;
	}
	.matchfield th {
		font-size: 30px !important;
	}

	/* HOME */
	.intro-section .subtitle {
		width: auto !important;
		margin: auto !important;
	}
}

@media (max-width: 768px) {
	.container {
		padding: 1rem;
		margin: 0 !important;
		max-width: 100%;
		background-color: rgba(255, 255, 255, 0.6);
	}
	.content-container {
		margin-top: 1rem;
	}
	.btn {
		font-size: 1rem;
	}
	.button-container {
		margin-top: 2rem;
		padding: 0 !important;
	}
	.content-container {
		padding: 2rem 0 !important;
	}
	.main-headline,
	.main-headline.homescreen {
		font-size: 5rem;
	}
	.main-headline.homescreen {
		margin-top: 3rem;
	}
	.matchfield {
		width: 450px !important;
		height: 450px !important;
	}
	.ship-info-container {
		width: 450px !important;
	}
	.ship-info-container .ship > div {
		height: 30px !important;
		width: 30px !important;
	}
	.matchfield th {
		font-size: 25px !important;
	}
	.matchfield tr {
		height: 2.5rem !important;
	}
	.btn-mobile-block {
		display: block;
		width: 100%;
		margin: 5px 0;
	}
	h3 {
		margin-bottom: 1rem;
		font-size: 20px;
	}
	.mt-10 {
		margin-top: 5rem;
	}
	h5.winner {
		font-size: 5rem !important;
	}
	.section {
		padding-bottom: 1rem;
	}

	/* HOME */
	.intro-section {
		padding: 1rem !important;
	}
	.intro-section .subtitle {
		font-size: 1.5rem !important;
	}
	.intro-section .logo {
		width: 100% !important;
	}
}

@media (max-width: 576px) {
	.main-headline,
	.main-headline.homescreen {
		font-size: 5rem;
	}
	h2 {
		font-size: 2rem;
		margin-top: 0;
		padding-top: 1rem;
	}
	.content-container {
		padding: 1rem 0 !important;
	}
	.matchfield {
		width: 300px !important;
		height: 300px !important;
	}
	.ship-info-container {
		width: 300px !important;
	}
	.matchfield th {
		font-size: 20px !important;
	}
	.matchfield tr {
		height: 2rem !important;
	}
}
