@import url('https://fonts.googleapis.com/css?family=Germania+One');

html,
body {
	width: 100%;
	height: 100%;

	font-family: 'Germania One', cursive;
}

#bg {
	background-image: url('../img/background-2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;

	position: fixed;
	left: 0;
	top: 0;
	z-index: -1;

	width: 100vw;
	height: 100vh;
}

.main-headline {
	font-size: 12rem;
	text-align: center;
	position: relative;
	color: #08628a;
}

.main-headline .small {
	position: absolute;
	bottom: 0;
	left: 6.5rem;
	font-size: 2rem;
	color: #949494;
}

.container {
	background-color: rgba(255, 255, 255, 0.6);
	min-height: 70vh;
	padding: 3rem 6rem;

	-webkit-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.52);
	-moz-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.52);
	box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.52);
}

.section {
	/*	border-top: 1px solid #a7a7a7;
	border-bottom: 1px solid #a7a7a7;*/
	padding: 1rem 0;
}

.button-container {
	margin-top: 10rem;
}

.btn-primary {
	background-color: #08628a;
	border-color: #08628a;
}
.btn {
	cursor: pointer;
}

h2 {
	font-size: 3rem;
	margin-top: 2rem;
	padding-top: 2rem;
	border-top: 2px solid #08628a;
}

.mt-10 {
	margin-top: 10rem;
}

h3 {
	padding: 4px 12px;
	font-size: 22px;
	color: #fff;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#08628a+0,ffffff+66&1+0,0+66 */
	background: -moz-linear-gradient(
		left,
		rgba(8, 98, 138, 1) 0%,
		rgba(255, 255, 255, 0) 66%
	); /* FF3.6-15 */
	background: -webkit-linear-gradient(
		left,
		rgba(8, 98, 138, 1) 0%,
		rgba(255, 255, 255, 0) 66%
	); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(
		to right,
		rgba(8, 98, 138, 1) 0%,
		rgba(255, 255, 255, 0) 66%
	); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#08628a', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
}
