@import url('https://fonts.googleapis.com/css?family=Germania+One|Poppins');

html,
body {
	width: 100%;
	height: 100%;

	font-family: 'Poppins', sans-serif;
}

h1 {
	font-family: 'Germania One', cursive;
}

#bg {
	background-image: url('../img/background-2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;

	position: fixed;
	left: 0;
	top: 0;
	z-index: -1;

	width: 100vw;
	height: 100vh;
}

.main-headline {
	font-size: 12rem;
	text-align: center;
	position: relative;
	color: #08628a;
	text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
}

.main-headline.homescreen {
	font-size: 14rem;
}

.container {
	background-color: rgba(255, 255, 255, 0.3);
	min-height: 70vh;
	padding: 3rem 6rem;

	-webkit-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.52);
	-moz-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.52);
	box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.52);
}

.section {
	/*	border-top: 1px solid #a7a7a7;
	border-bottom: 1px solid #a7a7a7;*/
	padding: 1rem 0;
}

.button-container {
	margin-top: 10rem;
}

.btn-primary {
	background-color: #08628a;
	border-color: #08628a;
}
.btn {
	cursor: pointer;
}

h2 {
	font-size: 3rem;
	margin-top: 2rem;
	padding-top: 2rem;
	/*border-top: 2px solid #08628a;*/
}

h4 {
	font-size: 1.3rem;
	color: #08628a;
	margin-top: 2rem;
}

.mt-10 {
	margin-top: 10rem;
}

h3 {
	padding: 10px 15px;
	font-size: 22px;
	margin-bottom: 1rem;
	/*font-weight: 800;*/

	color: #08628a;
	border-bottom: 3px solid #08628a;
	background-color: transparent;

	/*background-color: rgba(8, 98, 138, 0.8);*/

	/*background: -moz-linear-gradient(
		left,
		rgba(8, 98, 138, 1) 0%,
		rgba(255, 255, 255, 0) 66%
	);
	background: -webkit-linear-gradient(
		left,
		rgba(8, 98, 138, 1) 0%,
		rgba(255, 255, 255, 0) 66%
	);
	background: linear-gradient(
		to right,
		rgba(8, 98, 138, 1) 0%,
		rgba(255, 255, 255, 0) 66%
	);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#08628a', endColorstr='#00ffffff',GradientType=1 );*/
}

/* MATCHFIELD */
.matchfield {
	border-radius: 10px;
	padding: 1rem;
	width: 600px;
	height: 600px;
	table-layout: fixed;
	margin: 0 auto;

	background-color: rgba(8, 98, 138, 0.8);
	background-image: url(../img/matchfield-background.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.matchfield td,
.matchfield th {
	border: 1px solid rgba(255, 255, 255, 0.1);
	text-align: center;
}
.matchfield th {
	font-size: 40px;
	background-color: #08628a;
	color: #fff;
}
.matchfield tr {
	height: 3rem;
}
.matchfield td {
	opacity: 0.9;
}
.matchfield td.hit {
	position: relative;
}
.matchfield td.hit:not(.shipHit)::before {
	content: '';
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

	background-image: url(../img/x.png);
	background-size: cover;
	opacity: 0.5;
	width: 80%;
	height: 80%;
}
.matchfield td.shipHit {
	position: relative;
}
.matchfield td.shipHit::before {
	content: '';

	position: absolute;
	left: 50%;
	top: 50%;
	/* background-image: url(../img/bomb.png); */
	/* background-size: cover; */
	opacity: 0.6;
	width: 40%;
	height: 40%;
	background-color: red;
	border-radius: 50%;
	transform: translate(-50%, -50%);
	-webkit-animation: pulseBomb 1.5s 1.5s infinite ease-in-out;
	-o-animation: pulseBomb 1.5s 1.5s infinite ease-in-out;
	animation: pulseBomb 1.5s 1.5s infinite ease-in-out;
}
@keyframes pulseBomb {
	0% {
		width: 40%;
		height: 40%;
		opacity: 0.6;
	}
	50% {
		width: 45%;
		height: 45%;
		opacity: 0.8;
	}
	100% {
		width: 40%;
		height: 40%;
		opacity: 0.6;
	}
}
.matchfield td.shipHit::after {
	content: '';

	position: absolute;
	left: 50%;
	top: 50%;

	opacity: 0.6;
	width: 60%;
	height: 60%;
	background-color: transparent;
	border-radius: 50%;
	border: 2px solid #062838;
	transform: translate(-50%, -50%);

	-webkit-animation: pulseBombCircle 1.5s infinite ease-in-out;
	-o-animation: pulseBombCircle 1.5s infinite ease-in-out;
	animation: pulseBombCircle 1.5s infinite ease-in-out;
}
@keyframes pulseBombCircle {
	0% {
		width: 60%;
		height: 60%;
		opacity: 0.6;
	}
	50% {
		width: 60%;
		height: 60%;
		opacity: 0.3;
		width: 65%;
		height: 65%;
	}
	100% {
		width: 60%;
		height: 60%;
		opacity: 0.6;
	}
}

.matchfield td.x,
.matchfield td.y {
	border: none;
}
.matchfield td.hasShip {
	background-image: url(../img/ship.png);
	background-color: transparent;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.matchfield td.y {
	transform: rotate(90deg);
}
.matchfield td.start.x {
	background-position: left center;
}
.matchfield td.end.x {
	background-position: left center;
	transform: rotate(180deg);
}
.matchfield td.start.y {
	background-position: left center;
	transform: rotate(90deg);
}
.matchfield td.end.y {
	background-position: left center;
	transform: rotate(270deg);
}
